@using RookieShop.Shared.ViewModels;
@using RookieShop.Shared.DTOs
@model CategoryVCVM
<div class="span3 col">
    <div class="block">
        <ul class="nav nav-list">
            <li class="nav-header"><h4 class="title text-center"><strong>Danh mục sản phẩm</strong></h4></li>
            @foreach (var item in Model.Categories)
            {
                <li>
                    <a asp-controller="Home" asp-action="Index" asp-route-CategoryId="@item.Id">@item.CategoryName</a>
                </li>
            }
        </ul>
        
     </div>
</div>
