@{
    ViewData["Title"] = "Home Page";
}
@using RookieShop.Shared.ViewModels
@model HomeVM 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var item in Model.Products)
    { 
    <p>@item.ProductName </p>
    }
</div>

