@{
    ViewData["Title"] = "Home Page";
}
@using RookieShop.Shared.ViewModels
@model HomeVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    
    <form asp-action="Index" method="POST" class="search_form span6">
        <input type="text" name="name" value="@ViewData["CurrentFilter"]" class="input-block-level search-query" style="color: black; margin: 0 auto;"; Placeholder="Nhập thứ bạn cần tìm . . .">
        <input type="submit" style="color:black"; value="Search" class="btn btn-default "/>
    </form>
</div>
    <div  class="text-center col-12">
        <h1 class="display-4">Welcome to ROOKIESHOP</h1>
        
    </div>

    <section class="main-content">

        <div class="row">
            <div class="span9">
                <ul class="thumbnails listing-products">
                    @foreach (var item in Model.Products)
                    {
                        <li class="span3">
                            <div class="product-box">

                                <span class="sale_tag"></span>
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-id=@item.Id><img alt="" src="~/images/ladies/1.jpg"></a><br />
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-id=@item.Id class="title">@item.ProductName</a><br />
                                <a href="#" class="category">@item.CategoryName</a>
                                <p class="price">$@item.Price</p>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
                @await Component.InvokeAsync("CategoryList")
            </div>
        </section>


